
  body {
    background-color: rgba(0, 0, 0, 0.068);
  }
  /*  */
  
  #principal {
       margin: 10px auto;    
      height: 80px;
        width: 750px;
       
    }

    #logo {
        float: left;
        padding-left: 20px;
        

    }

    span {
        color: red;
    }


    #info {
        float: right;
        padding: 30px;
    }

    a {
        text-decoration: none;
        font-size: 18px;
        color: black;
        padding: 10px;
    }

    a:visited {
        color: black;
    }

    a:hover {
        text-decoration: underline red;
    }

    a:active {
        color: red;
    }

    /* ---------------Postagens----------- */

    .Postagem {
        margin: 20px auto;
        width: 750px;
        background-color: rgba(0, 0, 0, 0.021);

    }

    .Titulo {
        font-family: monospace;
    }
    
   .postimg {
    width: 200px;
    float: left;
    padding: 10px;
   }

   P {
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
   }

   /* footer                                    ----*/

   #footer {
    width: 100%;
   }

   .post1 {
    width: 200px;
    float: left;
    padding: 10px;
   }

   .post2 {
    width: 200px;
    float: right;
    padding: 10px;
   }